

:root{
    --primary-color: #f1e1aa;
    --header-color: #7F0909;
    font-size: 16px;
    font-style: normal;
}

header{
    margin:  10px;
    background-color: var(--header-color);
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    color: var(--primary-color);
    display: flex;
    justify-content: space-between

    
}
.menu{
    display: none;
}

.Foto{
    margin: 10px;
    width: 50%;
    max-width: 100px;
    border-radius: 100px;
}

h1, h2{
    background-color: var(--header-color);
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    color: #fff
}

h1{
    font-weight: 900;  
}

h2{
    font-weight: 600;
}

.habilidades{
    width: 600px;
    margin: auto;
    padding: 10px;
}

.habilidades div.container {
    width: 100%;
    background-color: black;
    margin: auto;
}

.skills{
    text-align: right;
    padding: 5px;
    color: white;
    font-weight: bold;
    
}

.DAO{
    background-color: #ffc500;
    animation: fillDAO 2s forwards;
}

@keyframes fillDAO{
    0%{width: 0;}
    100%{width: 50%;}
}

.Encantamientos{
    background-color: #ffc500;
    animation: fillEncantamientos 2s forwards;
}

@keyframes fillEncantamientos{
    0%{width: 0;}
    100%{width: 90%;}
}

.Vuelo{
    background-color: #ffc500;
    animation: fillVuelo 2s forwards;
}

@keyframes fillVuelo{
    0%{width: 0;}
    100%{width: 25%;}
}

.Adivinación{
    background-color: #ffc500;
    animation: fillAdivinación 2s forwards;
}
@keyframes fillAdivinación{
    0%{width: 0;}
    100%{width: 10%;}
}

.Pociones{
    background-color: #ffc500;
    animation: fillPociones 2s forwards;
}

@keyframes fillPociones{
    0%{width: 0;}
    100%{width: 95%;}
}

.info, .form{
    background-color: var(--primary-color);
    border-radius: 10px;
    margin: 10px;
    text-align: justify;
    
}


.recuadros {
    display: flex;
    flex-direction: column;
    margin: 10px;
}


.link{
    text-decoration: none;
    color: #fff;
    padding: 10px 10px;
}

footer{
    font-style: normal;
    font-size: 16px;
    background-color: var(--header-color);
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
}

@media screen and (min-width: 756px) {
    .menu {
        display: flex;
        align-items: center;
        padding: 10px 20px;
    }
}

@media screen and (min-width: 992px) {
    .menu .link {
        transition: color 0.5s linear;
    }
    .menu .link:hover {
        color: #ffc500;
    }
}